html {
    background-color:rgb(253, 236, 218) ;
}



#container{
    display: flex;
    flex-wrap: wrap;
}

#container > article{
    width: 20rem;
    border: solid rgb(219, 209, 255) 3px;
    border-radius: 8px;
    margin: 2rem;
    padding: .3rem;
    background-color: black;
    color: white;
}

#container img{
    width: 100%;
}


